body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f8ff;
}

.login-container {
    width: 350px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.login-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.login-container label {
    font-size: 14px;
    color: #666;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin: 8px 0 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #45a049;
}

.login-container a {
    display: block;
    text-align: center;
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
    margin-top: 10px;
}

.login-container a:hover {
    text-decoration: underline;
}
.logo{
   position: relative;
   bottom: 250px;
 right: 400px;
}
