body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #e6f7ff;
}

.register-container {
    width: 350px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.register-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.register-container label {
    font-size: 14px;
    color: #666;
}

.register-container input {
    width: 100%;
    padding: 10px;
    margin: 8px 0 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.register-container button {
    width: 100%;
    padding: 10px;
    background-color: #45a049;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}



.register-container a {
    display: block;
    text-align: center;
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
    margin-top: 10px;
}

.register-container a:hover {
    text-decoration: underline;
}
.logo{
    position: relative;
    bottom: 250px;
  right: 400px;
 }
 
